<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui-1.10.0.css" rel="stylesheet">
</head>

<body>

<div id="header-region"></div>

<div id="main-region" class="container">
    <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start
        it.</p>
</div>

<div id="dialog-region"></div>

<script data-main="./assets/js/require_main.js" src="./assets/js/vendor/require.js"></script>

<script type="text/template" id="header-template">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#contacts">Contact manager</a>
            <div class="nav-collapse collapse">
                <ul class="nav"></ul>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="header-link">
    <a href="#<%= url %>"><%= name %></a>
</script>

<script type="text/template" id="contact-view">
    <h1><%= firstName %> <%= lastName %></h1>
    <a href="#contacts/<%= id %>/edit" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edit this contact
    </a>
    <p><strong>Phone number:</strong> <%= phoneNumber %></p>
</script>

<script type="text/template" id="missing-contact-view">
    <div class="alert alert-error">This contact doesn't exist !</div>
</script>

<script type="text/template" id="about-message">
    <h1>About this application</h1>
    <p>This application was designed to accompany you during your learning.</p>
    <p>Hopefully, it has served you well!</p>
</script>
</body>
</html>
